{% extends "base.html" %}
{% block content %}

<div class="container">

	<div class="blog-header">
		<h1 class="blog-title">Predict returns on currently available loans</h1>
<!-- 		<p class="lead blog-description">Blah blah.</p>
-->	
</div>

<div class="row">
	<div class="col-sm-12 blog-main">

		<!-- POST ABOUT DIFFERENT LOAN STATUSES-->
		<div class="blog-post" style="position:absolute;top:0px;">
			<form action="" method="post" name="cl_form">
						<p><b>Target portfolio size</b>{{ cl_form.port_size}}</p>
						<p><b>Maximum default prob.</b>{{ cl_form.max_dp}}</p>
						<p><b>Included Grades: A {{ cl_form.use_A}}   B {{ cl_form.use_B}}   C {{ cl_form.use_C}}   D {{ cl_form.use_D}}   E {{ cl_form.use_E}}   F {{ cl_form.use_F}}</b></p>
					<div class="col-sm-2 col-sm-push-2">
					<p><input class="btn btn-success" type="Submit" value="Submit"></p>
					</div>
			</form>
		<div class="row">
			<div class="col-sm-12">
				<br>
				<h3>Found {{tot_loans}} total available loans.</h3>
				<div class="col-sm-12">
				<img class="img-responsive center-block" src="/static/images/cl_dp_ret.png?{{rnum}}" width="600"></img>
				</div>	
			</div>
		</div>
		</div>
	</div>
</div>


{% endblock %}